---
layout: default
---
<article class="post">
<div  style="
  width:100%; 
  height:300px; 
  border-radius:15px;
   background: url({{ page.image }});
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom:20px;
  ">
</div>
  <h1>{{ page.title }}</h1>
  <div class="date">
{{ page.date | date: "%d de %B de %Y" }} - Escrito por: {{ page.author }}
  </div>
  <hr/>
  <div class="entry">
    {{ content }}
  </div>



 {% comment %}
  <!-- Only show related pages on a page when `related: true` -->
{% endcomment %}
{% if page.id and page.related %}
  <div class="wrapper">
    <h3>Veja também >> </h3>
    {% include related.html %}
  </div>
{% endif %}
</article>
